.order-form{
    background-color: #F4F7FC;
}

.input-field{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.project{
    padding-bottom: 50px
}

@media screen and (max-width: 960px) {
    .customerName{
        display: none;
    }
    .orderTitle{
        margin: 50px auto;
        font-weight: bold;
        margin-top: 100px;
    }

    ::placeholder{
        font-size: 12px;
    }
}

@media screen and (max-width: 250px) {
   .orderTitle{
       padding-top: 20px;
       margin-bottom: 10px;
       font-size: 14px;
   }
}



.price-field{
    padding: 10px;
    width: 48%;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
}
