@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(213, 213, 213, 0.2);
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.bg-grad {
  /* background: transparent; */
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 15px 0 rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}

.bg-grad:hover {
  box-shadow: 8px 8px 14px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.8);
}

.swiper-pagination-bullet {
  background-color: rgb(194, 195, 196);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: flex;
}

.swiper-pagination-bullet-active {
  background-color: crimson;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: flex;
}

.box-shadow {
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
  transition: all 0.3s ease-in-out;
}

textarea::placeholder {
  font-size: 14px;
}
